.card-container{

    border-left: 1px solid  rgba(255, 0, 0, 0.103);
    border-bottom: 1px solid rgba(255, 0, 0, 0.11);
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 270px;
    padding: 2px 20px;
   
    
    
    

    .card-image{
      
        flex-grow: 1;
    }
   
    img{
       width: 200px;
      
    }

    .card-body{


        .rate{
            color: green;
            font-family: serif;
            font-size: 10px;
            &::before{
                content: '****';
            }
        }
        .card-title{
            font-weight: 400;
            font-size: 13px;
            
        }
    
   .price-area{
       
       flex-direction: column;
       flex-grow: 0;
       span::before{
           content: 'تومان';
           font-size: 12px;

       }
       .oldprice-area{
           width: 100%;
           display: flex;
           justify-content: space-between;
          
           font-size: 14px;
           

           .old-price{
              
              text-decoration: line-through;
              color: gray;
           }

           .off{
               color: red;
               direction: rtl;

               &::after{
                   content: 'تخفیف';
               }

           }

       }
       .new-price{
           font-size: 20px;
       }
    
   }
}

.buy-area{
    width: 100%;
    height: 40px;
   
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
    border-top: 1px solid rgba(0, 0, 0, 0.089);
    

    
    .buy-text{
        font-size: 12px;
    }

    .buy-icon{
        background-color:#0064D2 ;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding: 7px;
        margin-top: 8px;
        margin-right: 5px;
        img{
            width: 5px;
            height: 5px;
            font-size: 5px;

        }
    }
    
}
&:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.062);
    z-index: 55;
    .buy-area{
        visibility: visible;
       
        
    }

}

}
@media screen and (max-width:768px){
    #card-container{
        width: 100%;
        background-color: rgb(231, 216, 211);
        text-align: center;
       
    }

}
@media screen and (max-width:992px){
    #card-container{
        
     
        text-align: center;
    }

}
@media screen and (max-width:1200px){
    #card-container{
        width: 250px;
      
        text-align: center;
    }

}

@media screen and (max-width:620px) {
    #card-container{
    width: 95%;
     background-color: #fff;
     border: 1px solid rgba(0, 0, 0, 0.082);
     padding: 15px 15px;
     margin: auto;

     .card-image{
         width: 70%;
         text-align: center;
        
         margin-top: 20px !important;
         margin: auto;
        
        
         flex-grow: 1;
         img{
             width: 100%;
             height: 80%;
         }
     }
     .card-body{
         padding: 10px 30px;
     }
     

    
  

     
  
        
        
        
      

    }
    
}