@font-face {
  font-family: 'irs';
  src: url('../../asset//Fonts/IRANSansWeb\(FaNum\).ttf');
}
*{
  font-family: 'irs' !important;
}


.main-container{
  width: 90%;
  
  margin:  auto;
 //background-color: rgba(165, 161, 161, 0.911);
  font-family: 'irs' !important;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;


  /////////////////////////// start of main content
  .header-area{
      width: 100%;
      padding: 0px 5px;
   // background: rgba(100, 148, 237, 0.24);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-title{
        
          background-color: rgb(255, 255, 255);
          text-align: center;
          height: 100%;
          box-shadow: 10px 14px 31px -16px #c1c4ce;
         
         

          
          h5{
            text-align: center;
            padding-right: 10px;
              font-size: 1.05rem;
               height: 100%;
              line-height: 50px;
              word-spacing: 3px;
               
              
               
          }

      }

      

      .count-down-area{
          
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .countdown-label{
              color: crimson;
              span{
                  font-size: 0.7rem;
                  
              }
              span:after,
             span:before{
              content:"\00a0\00a0\00a0\00a0\00a0";
              text-decoration:line-through;
}

          }
          .countdown-wrap{
              
                  letter-spacing: 10px;
                
                  color: rgb(218, 0, 0);
                  margin-top: 5px;
                  font-weight: 900;
                  font-size: 1.2rem;
              
          }

         
          


      }

      


   

  }

   //////////////////////////// End of header content

  // start of main content
  .main-content-area{
     
      
      
     
    
     

  }

  //end of main content



}

.swiper-container{
  
}




.swiper {
  width: 100%;
  height: 50%;
}
.swiper-wrapper {
  
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {


}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 100%;
  width: 100%;
}

.mySwiper {

 
  box-sizing: border-box;
  margin-top: 5px;

}

.mySwiper .swiper-slide {

  
  opacity: 1;
  cursor: pointer;
  font-weight: 500;
  height: 40px;
  line-height: 50px;
  margin: 0 ;
  background-color:#F8F9FD;
  font-size: 0.7rem;
  color: black;
  font-weight: 900;
  // background-color: burlywood;
 

}

.swiper-button-next::after{
   
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 25px;
  font-weight: 900;

  

    
}

.swiper-button-prev::after{
 color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 25px;
  font-weight: 900;


  
  
}

@media only screen and (max-width: 600px) {
.swiper-button-next{
 
  font-size: 40px;
  border-radius: 5px;
  


}
.swiper-button-prev{

  font-size: 40px;
  border-radius: 5px;

font-weight: 900;

}

#mswiper2{
  
  margin-top: -10px;
}


.mySwiper {
  display: none;
}


}


.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  box-shadow: 0 4px 20px 0 #bfc1d2;
  background-color: rgb(255, 255, 255);
  
}

