$textSize:12px;
$weightText:900;
$fontColor:#8b8ba1;






.footer {
    direction: rtl;
    width: 100%;

    .footer-inner {
        display: flex;
        flex-direction: column;
        width: 100%;

        .footer-top {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 36px;
            
            .scroll-to-top {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                svg {
                    width: 16px;
                    height: 16px;
                    margin-left: 12px;
                    transform: rotate(180deg);

                    path {
                        fill: #7b7b7b;
                    }
                }

                span {
                    color: #7b7b7b;
                    font-size: 12px;
                }
            }
        }


        .footer-bottom {
            color: #7b7b7b;
            padding: 0;
            background-color: #fafafa;
            padding-bottom: 0;
            border-top: 1px solid #d9d9d9;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            .social-section {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #e9e9e9;
                padding: 12px;
                margin-top: 0;

                span {
                    font-size: .688rem;
                    font-weight: 400;
                    line-height: 2.182;
                    margin-left: 12px;
                }
                

                img {
                    width: 22px;
                    margin: 0 8px;
                }
            }

            .quick-access{
                display: flex;
                height: 140px;
                width: 100%;
                background-color: #FAFAFA;

                    
                .ch-quick-access{
                    width: 100%;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        margin: 0;
                        text-align: center;
                        width: 50%;
                        align-items: center;
                        font-size: 10px;
                    }
                    
                }

            }

            .intro-desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px 12px 45px;
                background-color: #fafafa;
                border-bottom: 1px solid #e9e9e9;
                width: 100%;
                text-align: right;
                position: relative;

                &.active {
                    .desc {
                        max-height: 90px;

                        
                    }
                    .toggle-btn {
                        display: flex;
                        width: 100%;
                        background-image: linear-gradient(
                            0deg,#fafafa,hsla(0,0%,98%,0));
                            background-image: -webkit-gradient(linear,left bottom,left top,from(#fafafa),to(hsla(0,0%,98%,0)));
                            position: absolute;
                            bottom: 32px;
                            padding: 176PX 0 0 0;
                            bottom: 22px;
                    }
                }

                .title {
                    font-size: .75rem;
                    font-weight: 400;
                    line-height: 2;
                    text-align: center;
                    color: #7b7b7b;
                    margin-bottom: 12px;
                }

                .desc {
                    overflow: hidden;
                    max-height: unset;
                    display: block;
                    
                    color: #555;
                    font-size: .725rem;
                    font-weight: 400;
                    line-height: 1.8;
                    padding: 0 30px;

                }

                .toggle-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;


                    svg {
                        width: 12px;
                        height: 12px;
                        margin-right: 8px;
                    }
                }
            }
        }

        .footer_privacy{
                width: 90%;
                margin: auto;
                text-align: center;
                font-size: 9px;
                font-size: .562rem;
                font-weight: 400;
                line-height: 2.667;
                color: #7b7b7b;
                line-height: 1.8;
                text-align: center;

            

        }
        
    }
}








@font-face {
    font-family:'is' ;
    src: url('./assets//font//Iranian\ Sans.ttf');
}
*{
    font-family: 'is';
}

