@font-face {
    font-family: 'varela';
    src: url('./asset/fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf');
}
*{
    font-family: 'varela';
}



.main-container{
   
    width: 80%;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    margin-top: 120px;
    direction: ltr;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
   

    .sidebar-area{
        width: 35%;
        height: 100%;
        // background-color: red;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .sidebar-content{

            // background-color: yellow;
            width: 100%;
            height: 70%;
            display: flex;
            padding: 40px 40px;
            flex-direction:column;
            justify-content: space-between;
            .text-area{
                height: 50%;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                h4{
                    font-size: 20px;
                    font-weight: 400;

                }
                p{
                    color: gray;

                }

            }


        }
        

    }
    .slider-area{
        width: 70%;
        height: 100%;
        background-color: rgba(19, 47, 139, 0.116);
        flex-grow: 1;

    }

}
@media screen and (max-width:772px) {
    body{
        background-color: sandybrown;
    }
    #sidebar-area{
        display: none;
    }
    
    .sidebar-content{
        padding: 0;
    }
}




// Swiper Stylesss


  
  
  
 
  
 
  
