swiper {
    margin: 100px auto;
    width: 320px;
    height: 240px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
   
 
  }
  
.swiper-pagination-bullet{
  background-color: cadetblue;
}



  