.test{
    background-color: #3452FF;
    padding:15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-radius: 5px;
    width: 150px;
    transition: all ease 0.2s;
    font-size: 15px;
    line-height: 0px;
    &:hover{
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.199);
        margin-bottom: 2px;
    }
    cursor: pointer;
    img{
        width: 15px;

    }
   

}